<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.basics.dao.SeatLayoutMapper" >
  <resultMap id="BaseResultMap" type="com.simon.basics.model.SeatLayout" >
    <id column="seat_id" property="seatId" jdbcType="BIGINT" />
    <result column="seat_left" property="seatLeft" jdbcType="INTEGER" />
    <result column="seat_mid" property="seatMid" jdbcType="INTEGER" />
    <result column="seat_right" property="seatRight" jdbcType="INTEGER" />
    <result column="seat_rows" property="seatRows" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    seat_id, seat_left, seat_mid, seat_right, seat_rows, deleted, create_time, update_time
  </sql>
  <select id="findAllList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seat_layout
  </select>
</mapper>